<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <button class="btn btn-primary pull-right" (click)="openModalAdd(add)">Dodaj</button>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Treść</th> <!--tekst-->
                        <th>Akcja</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let deal of deals">
                        <td>{{deal.content}}</td>
                        <td>
                            <button class="btn btn-warning" (click)="openModalEdit(edit, deal)">Edytuj</button> |
                            <button class="btn btn-danger" (click)="openModalDelete(delete, deal._id)">Usuń</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<ng-template #add>
        <div class="modal-header">
            <h4 class="modal-title pull-left">Dodaj informacje o ofercie</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form>
                <label for="content">Treść informacji</label>
                <textarea class="form-control" name="content" rows="7" [(ngModel)] = "deal.content"></textarea>
                <p class="text-danger">{{errorMsg.content}}</p>
                <button class="btn btn-primary" (click)="onSave()">Zapisz</button>
            </form>
        </div>
    </ng-template>

    <ng-template #edit>
        <div class="modal-header">
            <h4 class="modal-title pull-left">Edytuj informacje o ofercie</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form>
                <label for="content">Treść informacji</label>
                <textarea class="form-control" name="content" rows="7" [(ngModel)] = "editDeal.content"></textarea>
                <p class="text-danger">{{errorMsg.content}}</p>
                <button class="btn btn-primary" (click)="onUpdate()">Edytuj</button>
            </form>
        </div>
    </ng-template>

    <ng-template #delete>
        <div class="modal-header">
            <h4 class="modal-title pull-left">Usuń informację o ofercie</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
           <p>Czy na pewno chcesz usunąć tą informację?</p>
           <button (click)="modalRef.hide()" class="btn btn-primary">NIE</button> |
           <button class="btn btn-danger" (click)="deleteDeal()">TAK</button>
        </div>
    </ng-template>