<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <button class="btn btn-primary pull-right">Dodaj</button>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Treść</th> <!--tekst-->
                        <th>Akcja</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Treść kontaktowa</td>
                        <td>
                            <button class="btn btn-warning">Edytuj</button> |
                            <button class="btn btn-danger">Usuń</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

